In [20]:
import pandas as pd

Memuat Dataset

In [21]:
df = pd.read_csv('layoffs_1.csv')

In [3]:
# Diasumsikan `world_layoffs_df` adalah DataFrame yang berisi data dari `world_layoffs.layoffs`
world_layoffs_df = pd.read_csv('layoffs_1.csv')

# A. MEMERIKSA DAN MENGHAPUS DATA DUPLIKAT

In [4]:
# 1. Membuat DataFrame sementara (setara dengan membuat tabel sementara di SQL)
layoffs_staging = world_layoffs_df.copy()

In [5]:
# 2. Mengidentifikasi dan menghapus data duplikat

# Memeriksa duplikat
duplikat = layoffs_staging[layoffs_staging.duplicated(subset=['company', 'industry', 'total_laid_off', 'date'], keep=False)]
print("Duplikat yang ditemukan:\n", duplikat)

Duplikat yang ditemukan:
                company       location        industry  total_laid_off  \
118              Yahoo    SF Bay Area        Consumer          1600.0
625   Wildlife Studios      Sao Paulo        Consumer           300.0
816                Oda           Oslo            Food            70.0
817                Oda           Oslo            Food            70.0
818                Oda           Oslo            Food            70.0
1491             Cazoo         London  Transportation           750.0
1492             Cazoo         London  Transportation           750.0
1551          Terminus        Atlanta       Marketing             NaN
1552          Terminus        Atlanta       Marketing             NaN
1689            Casper  New York City          Retail             NaN
2254             Hibob       Tel Aviv              HR            70.0
2357             Yahoo    SF Bay Area        Consumer          1600.0
2358             Hibob       Tel Aviv              HR            70.0
2359            Casper  New York City          Retail             NaN
2360  Wildlife Studios      Sao Paulo        Consumer           300.0

      percentage_laid_off        date     stage         country  \
118                  0.20    2/9/2023  Acquired   United States
625                  0.20  11/28/2022   Unknown          Brazil
816                  0.18   11/1/2022   Unknown          Sweden
817                  0.18   11/1/2022   Unknown          Norway
818                  0.06   11/1/2022   Unknown          Norway
1491                 0.15    6/7/2022  Post-IPO  United Kingdom
1492                 0.15    6/7/2022  Post-IPO  United Kingdom
1551                  NaN   5/27/2022  Series C   United States
1552                  NaN   5/27/2022   Unknown   United States
1689                  NaN   9/14/2021  Post-IPO   United States
2254                 0.30   3/30/2020  Series A          Israel
2357                 0.20    2/9/2023  Acquired   United States
2358                 0.30   3/30/2020  Series A          Israel
2359                  NaN   9/14/2021  Post-IPO   United States
2360                 0.20  11/28/2022   Unknown          Brazil

      funds_raised_millions
118                     6.0
625                   260.0
816                   377.0
817                   477.0
818                   479.0
1491                 2000.0
1492                 2000.0
1551                  120.0
1552                  192.0
1689                  339.0
2254                   45.0
2357                    6.0
2358                   45.0
2359                  339.0
2360                  260.0

In [6]:
# Menghapus duplikat (menyimpan kejadian pertama)
layoffs_staging = layoffs_staging.drop_duplicates(subset=['company', 'industry', 'total_laid_off', 'date'], keep='first')

In [7]:
# Memverifikasi penghapusan duplikat
print("Data setelah menghapus duplikat:\n", layoffs_staging)

Data setelah menghapus duplikat:
             company        location        industry  total_laid_off  \
0         Atlassian          Sydney           Other           500.0
1          SiriusXM   New York City           Media           475.0
2            Alerzo          Ibadan          Retail           400.0
3            UpGrad          Mumbai       Education           120.0
4              Loft       Sao Paulo     Real Estate           340.0
...             ...             ...             ...             ...
2352   HopSkipDrive     Los Angeles  Transportation             8.0
2353    Panda Squad     SF Bay Area        Consumer             6.0
2354  Tamara Mellon     Los Angeles          Retail            20.0
2355       EasyPost  Salt Lake City       Logistics            75.0
2356      Blackbaud      Charleston           Other           500.0

      percentage_laid_off       date     stage        country  \
0                    0.05   3/6/2023  Post-IPO      Australia
1                    0.08   3/6/2023  Post-IPO  United States
2                     NaN   3/6/2023  Series B        Nigeria
3                     NaN   3/6/2023   Unknown          India
4                    0.15   3/3/2023   Unknown         Brazil
...                   ...        ...       ...            ...
2352                 0.10  3/13/2020   Unknown  United States
2353                 0.75  3/13/2020      Seed  United States
2354                 0.40  3/12/2020  Series C  United States
2355                  NaN  3/11/2020  Series A  United States
2356                 0.14        NaN  Post-IPO  United States

      funds_raised_millions
0                     210.0
1                     525.0
2                      16.0
3                     631.0
4                     788.0
...                     ...
2352                   45.0
2353                    1.0
2354                   90.0
2355                   12.0
2356                    NaN

[2353 rows x 9 columns]

# B. MENSTANDARKAN DATA

In [8]:
# Menangani nilai yang hilang dan tidak valid di kolom 'industry'

# Mengidentifikasi nilai unik di kolom 'industry'
industri_unik = layoffs_staging['industry'].unique()
print("Industri unik:\n", industri_unik)

Industri unik:
 ['Other' 'Media' 'Retail' 'Education' 'Real Estate' 'Transportation'
 'Marketing' nan 'Healthcare' 'Security' 'Food' 'Fitness' 'Consumer'
 'Logistics' 'HR' 'Support' 'Travel' 'Crypto' 'Finance' 'Data' 'Sales'
 'Infrastructure' 'Hardware' 'Product' 'Construction' 'Legal' 'Energy'
 'Manufacturing' 'Recruiting' 'Aerospace' 'Crypto Currency' 'Fin-Tech'
 'CryptoCurrency']

In [9]:
# Menemukan baris dengan 'industry' NULL atau kosong
industri_hilang = layoffs_staging[layoffs_staging['industry'].isnull() | (layoffs_staging['industry'] == '')]
print("Industri yang hilang:\n", industri_hilang)

Industri yang hilang:
                   company     location industry  total_laid_off  \
8                  Airbnb  SF Bay Area      NaN            30.0
330   Bally's Interactive   Providence      NaN             NaN
736                  Juul  SF Bay Area      NaN           400.0
1595              Carvana      Phoenix      NaN          2500.0

      percentage_laid_off        date     stage        country  \
8                     NaN    3/3/2023  Post-IPO  United States
330                  0.15   1/18/2023  Post-IPO  United States
736                  0.30  11/10/2022   Unknown  United States
1595                 0.12   5/10/2022  Post-IPO  United States

      funds_raised_millions
8                    6400.0
330                   946.0
736                  1500.0
1595                 1600.0

In [10]:
# Mengganti string kosong dengan NULL untuk manipulasi yang lebih mudah
layoffs_staging['industry'].replace('', pd.NA, inplace=True)

C:\Users\restu firmansyah\AppData\Local\Temp\ipykernel_11108\3916517896.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  layoffs_staging['industry'].replace('', pd.NA, inplace=True)

In [11]:
# Mengisi nilai 'industry' yang hilang berdasarkan nama perusahaan
layoffs_staging['industry'] = layoffs_staging.groupby('company')['industry'].transform(lambda x: x.ffill().bfill())

C:\Users\restu firmansyah\AppData\Local\Temp\ipykernel_11108\3914976511.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  layoffs_staging['industry'] = layoffs_staging.groupby('company')['industry'].transform(lambda x: x.ffill().bfill())

In [12]:
# Memverifikasi jika masih ada nilai 'industry' yang hilang
print("Baris dengan 'industry' yang hilang setelah pengisian:\n", layoffs_staging[layoffs_staging['industry'].isnull()])

Baris dengan 'industry' yang hilang setelah pengisian:
                  company    location industry  total_laid_off  \
330  Bally's Interactive  Providence      NaN             NaN

     percentage_laid_off       date     stage        country  \
330                 0.15  1/18/2023  Post-IPO  United States

     funds_raised_millions
330                  946.0

In [13]:
# Menstandarkan nilai di kolom 'industry'
layoffs_staging['industry'].replace({'Crypto Currency': 'Crypto', 'CryptoCurrency': 'Crypto'}, inplace=True)

C:\Users\restu firmansyah\AppData\Local\Temp\ipykernel_11108\3854007030.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  layoffs_staging['industry'].replace({'Crypto Currency': 'Crypto', 'CryptoCurrency': 'Crypto'}, inplace=True)

In [14]:

# Memverifikasi nilai unik di 'industry' setelah penstandaran
print("Industri unik setelah penstandaran:\n", layoffs_staging['industry'].unique())

Industri unik setelah penstandaran:
 ['Other' 'Media' 'Retail' 'Education' 'Real Estate' 'Transportation'
 'Marketing' 'Travel' 'Healthcare' 'Security' 'Food' 'Fitness' 'Consumer'
 'Logistics' 'HR' 'Support' 'Crypto' 'Finance' 'Data' 'Sales'
 'Infrastructure' 'Hardware' 'Product' 'Construction' 'Legal' 'Energy' nan
 'Manufacturing' 'Recruiting' 'Aerospace' 'Fin-Tech']

In [15]:

# Menstandarkan nilai di kolom 'country'
# Menghapus titik di akhir nama 'country'
layoffs_staging['country'] = layoffs_staging['country'].str.rstrip('.')

In [16]:
# Memverifikasi nilai unik di 'country' setelah penstandaran
print("Negara unik setelah penstandaran:\n", layoffs_staging['country'].unique())

Negara unik setelah penstandaran:
 ['Australia' 'United States' 'Nigeria' 'India' 'Brazil' 'France' 'Germany'
 'Israel' 'Sweden' 'United Kingdom' 'Japan' 'South Korea' 'China' 'Italy'
 'Singapore' 'Indonesia' 'Estonia' 'Canada' 'Ireland' 'Finland'
 'Netherlands' 'Spain' 'Portugal' 'Chile' 'Colombia' 'Argentina'
 'Seychelles' 'Austria' 'Mexico' 'Switzerland' 'Egypt' 'Kenya'
 'Luxembourg' 'Greece' 'Poland' 'Norway' 'Belgium' 'Denmark' 'Hong Kong'
 'New Zealand' 'Malaysia' 'Hungary' 'Vietnam' 'Thailand' 'Lithuania'
 'Ghana' 'Senegal' 'Pakistan' 'United Arab Emirates' 'Peru' 'Bahrain'
 'Romania' 'Turkey' 'Russia' 'Uruguay' 'Bulgaria' 'South Africa'
 'Czech Republic' 'Myanmar']

# C. MEMERIKSA NILAI NULL

In [17]:
# Memeriksa nilai NULL di 'total_laid_off'
total_laid_off_null = layoffs_staging[layoffs_staging['total_laid_off'].isnull()]
print("Baris dengan 'total_laid_off' NULL:\n", total_laid_off_null)

Baris dengan 'total_laid_off' NULL:
             company       location    industry  total_laid_off  \
9          Accolade        Seattle  Healthcare             NaN
10           Indigo         Boston       Other             NaN
16         Flipkart      Bengaluru      Retail             NaN
17          Kandela    Los Angeles    Consumer             NaN
18    Truckstop.com          Boise   Logistics             NaN
...             ...            ...         ...             ...
2340         Vacasa       Portland      Travel             NaN
2345      Anyvision       Tel Aviv    Security             NaN
2346          Popin  New York City     Fitness             NaN
2347  Tuft & Needle        Phoenix      Retail             NaN
2351        Service    Los Angeles      Travel             NaN

      percentage_laid_off       date     stage        country  \
9                     NaN   3/3/2023  Post-IPO  United States
10                    NaN   3/3/2023  Series F  United States
16                    NaN   3/2/2023  Acquired          India
17                    1.0   3/2/2023  Acquired  United States
18                    NaN   3/2/2023  Acquired  United States
...                   ...        ...       ...            ...
2340                  NaN  3/20/2020  Series C  United States
2345                  NaN  3/19/2020  Series A         Israel
2346                  1.0  3/19/2020   Unknown  United States
2347                  NaN  3/19/2020  Acquired  United States
2351                  1.0  3/16/2020      Seed  United States

      funds_raised_millions
9                     458.0
10                   1200.0
16                  12900.0
17                      NaN
18                      NaN
...                     ...
2340                  526.0
2345                   74.0
2346                   13.0
2347                    0.0
2351                    5.1

[738 rows x 9 columns]

In [18]:
# Memeriksa baris di mana 'total_laid_off' dan 'percentage_laid_off' keduanya NULL
total_dan_persentase_null = layoffs_staging[layoffs_staging['total_laid_off'].isnull() & layoffs_staging['percentage_laid_off'].isnull()]
print("Baris dengan 'total_laid_off' dan 'percentage_laid_off' NULL:\n", total_dan_persentase_null)

Baris dengan 'total_laid_off' dan 'percentage_laid_off' NULL:
             company     location        industry  total_laid_off  \
9          Accolade      Seattle      Healthcare             NaN
10           Indigo       Boston           Other             NaN
16         Flipkart    Bengaluru          Retail             NaN
18    Truckstop.com        Boise       Logistics             NaN
57    Arch Oncology    St. Louis      Healthcare             NaN
...             ...          ...             ...             ...
2323       SpotHero      Chicago  Transportation             NaN
2334          Zwift  Los Angeles         Fitness             NaN
2340         Vacasa     Portland          Travel             NaN
2345      Anyvision     Tel Aviv        Security             NaN
2347  Tuft & Needle      Phoenix          Retail             NaN

      percentage_laid_off       date     stage        country  \
9                     NaN   3/3/2023  Post-IPO  United States
10                    NaN   3/3/2023  Series F  United States
16                    NaN   3/2/2023  Acquired          India
18                    NaN   3/2/2023  Acquired  United States
57                    NaN  2/22/2023  Series C  United States
...                   ...        ...       ...            ...
2323                  NaN  3/24/2020  Series D  United States
2334                  NaN  3/23/2020  Series B  United States
2340                  NaN  3/20/2020  Series C  United States
2345                  NaN  3/19/2020  Series A         Israel
2347                  NaN  3/19/2020  Acquired  United States

      funds_raised_millions
9                     458.0
10                   1200.0
16                  12900.0
18                      NaN
57                    155.0
...                     ...
2323                  117.0
2334                  164.0
2340                  526.0
2345                   74.0
2347                    0.0

[360 rows x 9 columns]

In [22]:
# Simpan DataFrame df ke file bernama 'data_bersih.csv'
df.to_csv('DataCleaning.csv', index=False)